<section class="hero-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="hero-about-content">
                    <div class="about-header">
                        <h1>Despre noi <span>{{ site.title }}</span></h1>
                    </div>
                    <div class="about-content">
                        <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta. Duis purus
                            sapien, blandit non sem quis, mollis vehicula sapien. Fusce mollis mauris vitae enim varius scelerisque
                            id id ex. Maecenas vel iaculis purus, a ornare quam.</p>
                        <p>Sed a mi mattis, posuere mauris et, mollis lacus. Vivamus in imperdiet libero, at dapibus eros. In
                            varius lacinia gravida. Aenean dignissim nulla nibh, a laoreet ligula fermentum sit amet.</p>
                        <div class="about-button"> <a href="about.html" class="about-btn">READ MORE</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about-img"> <img src="assets/img/main-page/about-img.webp" alt="{{ site.title }}" class="img-fluid"> </div>
            </div>
        </div>
    </div>
</section>