<section class="hero-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h1 class="section-header"><span>Aplicatia</span> mobila pentru membri din sala ta</h1>
            </div>
        </div>
        <div class="row">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">
                    <span>Descarcã aplicația</span>
                    <div class="row row-cols-2 my-2 justify-content-center">
                        <div class="col col-6 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="https://genqrcode.com/embedded?style=0&inner_eye_style=0&outer_eye_style=0&logo=null&color=%23000000&inner_eye_color=%23000000&outer_eye_color=%23000000&imageformat=svg&language=en&frame_style=0&frame_text=SCAN%20ME&frame_color=%23000000&invert_colors=false&gradient_style=0&gradient_color_start=%23FF0000&gradient_color_end=%237F007F&gradient_start_offset=5&gradient_end_offset=95&stl_type=1&logo_remove_background=null&stl_size=100&stl_qr_height=1.5&stl_base_height=2&stl_qr_magnet_type=3&stl_qr_magnet_count=0&type=0&text=https%3A%2F%2Fapps.apple.com%2Fus%2Fapp%2Fgma-gym-management-app%2Fid1496040256%3Fl%3Dro%26ls%3D1&width=500&height=500&bordersize=2" class="card-img-top" alt="App Store">
                                <div class="card-body mx-auto">
                                    <a class="btn btn-outline-dark" role="button" target="_blank" href="https://apps.apple.com/us/app/gma-gym-management-app/id1496040256?l=ro&ls=1">
                                        <i class="fa fa-3x fa-apple"></i>
                                        <span class="d-inline-block">
                                            <small class="d-block">Available on the</small>
                                            App Store
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="https://genqrcode.com/embedded?style=0&inner_eye_style=0&outer_eye_style=0&logo=null&color=%23000000&inner_eye_color=%23000000&outer_eye_color=%23000000&imageformat=svg&language=en&frame_style=0&frame_text=SCAN%20ME&frame_color=%23000000&invert_colors=false&gradient_style=0&gradient_color_start=%23FF0000&gradient_color_end=%237F007F&gradient_start_offset=5&gradient_end_offset=95&stl_type=1&logo_remove_background=null&stl_size=100&stl_qr_height=1.5&stl_base_height=2&stl_qr_magnet_type=3&stl_qr_magnet_count=0&type=0&text=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.companyname.gma&width=500&height=500&bordersize=2" class="card-img-top" alt="Google Play">
                                <div class="card-body mx-auto">
                                    <a class="btn btn-outline-dark" role="button" target="_blank" href="https://play.google.com/store/apps/details?id=com.companyname.gma">
                                        <i class="fa fa-3x fa-android"></i>
                                        <span class="d-inline-block">
                                            <small class="d-block">Get it on the</small>
                                            Google Play
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2 justify-content-start">
                        <div class="col-xs-12 col-lg-7 alert alert-info">
                            <i class="fa fa-warning"></i>
                            În cazul în care aveți activat contul în Portal, săriți la pasul 7
                        </div>
                    </div>
                </li>
                <li class="list-group-item">Click pe butonul <span class="badge bg-secondary">Nu ai cont? Devino membru</span>, de pe pagina de login a aplicației GMA</li>
                <li class="list-group-item">Introduceți codul sălii în căsuța de căutare: evomedicalgym <button class="btn btn-outline-dark btn-sm btn-clipboard-copy" data-clipboard-text="evomedicalgym"><i class="fa fa-clone"></i></button></li>
                <li class="list-group-item">Apăsați butonul <span class="badge bg-secondary">Devino membru</span></li>
                <li class="list-group-item">După completarea și salvarea formularului, va rugăm să vă adresați personalului de la recepție</li>
                <li class="list-group-item">După activarea contului veți primi un email cu informații pentru activarea contului/portalului GMA</li>
                <li class="list-group-item">Login în aplicația GMA</li>
                <li class="list-group-item">După efectuarea plătii abonamentului (GYM) intrarea în sală se face în ziua curentă</li>
            </ol>
        </div>
    </div>
</section>
