<!-- start header banner section -->
<!--section class="hero-contact-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="banner-content-section">
          <div class="banner-img-section">
            <h2>Contact Us</h2>
          </div>
          <div class="content-section">
            <p><a href="#">HOME</a> <span><img src="assets/img/inner-page/header-arrow.webp" alt="Gymfit"
                  class="img-fluid"></span> <a href="#">CONTACT US</a></p>
          </div>
        </div>
      </div>
      <div class="down-arrow"> <img src="assets/img/main-page/down-arrow.webp" alt="Gymfit" class="img-fluid"> </div>
    </div>
  </div>
</section-->
<!-- end header banner section -->

<!--START GET IN TOUCH -->
<section class="hero-contact hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="get-in-touch-title">
                    <h1>INTRAȚI IN <span>CONTACT</span></h1>
                    <!--p>Quisque ullamcorper ex non leo blandit porta. Duis purus sapien, blandit non sem quis,<br>
                        mollis vehicula sapien.</p-->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-10 col-xs-12">
                <div class="contact-box">
                    <a href="https://wa.me/40721619853" target="_blank">
                        <div class="contact-box-icons">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </div>
                        <div class="contact-card">
                            <h3>{{ site.formatted_phone }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 col-xs-12">
                <div class="contact-box">
                    <a href="https://maps.app.goo.gl/NUgS42fiPSdKFtDZA" target="_blank">
                        <div class="contact-box-icons">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        </div>
                        <div class="contact-card">
                            <h3>{{ site.physical_address }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 col-xs-12">
                <div class="contact-box">
                    <a href="tel:+{{ site.raw_phone }}" target="_blank">
                        <div class="contact-box-icons">
                            <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                        </div>
                        <div class="contact-card">
                            <h3>{{ site.formatted_phone }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!--div class="col-lg-4 col-sm-10 col-xs-12">
                <div class="contact-box">
                    <a href="mailto:{{ site.email}}" target="_blank">
                        <div class="contact-box-icons">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="contact-card">
                            <h3>{{ site.email }}</h3>
                        </div>
                    </a>
                </div>
            </div-->
        </div>
    </div>
</section>
<!--END GET IN TOUCH -->

<!-- start contact form section -->
<!--section-- class="hero-contact-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="contact-form">
          <form id="contact-us-form">
            <input type="text" name="name" class="contact-form-input" placeholder="Full Name">
            <input type="text" name="email" class="contact-form-input" placeholder="Your Email">
            <textarea class="contact-form-message" name="message" placeholder="Message..."></textarea>
            <button type="submit" class="contact-form-btn">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section-->

<!-- start map section -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.4111610777145!2d25.556881952720683!3d45.65700445432267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35beb9d405e79%3A0xd9f5c146ced64c9e!2sEvo%20Medical%20%26%20Gym!5e0!3m2!1sro!2sro!4v1707990326011!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
