<section class="hero-header-banner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6"></div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="banner-content-section">
                    <div class="banner-img-section">
                        <h1>Partenerii Bunăstării Tale</h1>
                    </div>
                    <div class="content-section">
                    </div>
                    <div class="call-to-action-btn">
                        <a href="https://wa.me/40721619853" target="_blank">SA TE FACI BINE ACUM!</a>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="down-arrow"> <img src="/assets/img/main-page/down-arrow.webp" alt="{{ site.title }}" class="img-fluid"> </div-->
    </div>
</section>