<head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/main-page/favicon/apple-touch-icon.png?v={{ site.assets_version }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/main-page/favicon/favicon-32x32.png?={{ site.assets_version }}">
    <link rel="manifest" href="/assets/img/main-page/favicon/site.webmanifest?v={{ site.assets_version }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/main-page/favicon/favicon-16x16.png?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/bootsnav.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/sm-core-css.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/sm-clean.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/style.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="/assets/css/responsive.css?v={{ site.assets_version }}">
</head>