<section class="hero-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="pricing-header">
                    <h1><span>PREȚURI</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="accordion" id="pricing-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pricing-medical" aria-expanded="true" aria-controls="pricing-medical">
                                Medical
                            </button>
                        </h2>
                        <div id="pricing-medical" class="accordion-collapse collapse show" data-bs-parent="#pricing-medical">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Procedura</th>
                                        <th scope="col">Sed</th>
                                        <th scope="col">Preț</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for procedure in site.procedures %}
                                    <tr>
                                        <td>{{ procedure.name }}</td>
                                        <td>{{ procedure.option }}</td>
                                        <td>{{ procedure.price }}</td>
                                        <td><a href="{{ procedure.booking-link}}" target="_blank" class="btn btn-success">Rezervați Acum</a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pricing-beauty" aria-expanded="false" aria-controls="collapseTwo">
                                Epilare Definitivă
                            </button>
                        </h2>
                        <div id="pricing-beauty" class="accordion-collapse collapse" data-bs-parent="#pricing-accordion">
                            <div class="accordion-body">
                                <table class="table">
                                </table>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</section>
