<section class="hero-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h1 class="section-header"><span>Prețuri</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="accordion" id="pricing-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pricing-gym" aria-expanded="true" aria-controls="pricing-gym">
                                Gym
                            </button>
                        </h2>
                        <div id="pricing-gym" class="accordion-collapse collapse show" data-bs-parent="#pricing-accordion">
                            <div class="accordion-body">
                                <table class="table">
                                    <tbody>
                                    {% assign gym_packages = site.gym | sort: 'key' %}
                                    {% for package in gym_packages %}
                                        {% capture booking_message %}Bună, sunt interesată de gym pachet "{{package.name}} {{package.quantity1}} {{package.quantity2}} {{ package.price }}"{% endcapture %}
                                        <tr>
                                            <td>{{ package.name }}</td>
                                            <td>{{ package.quantity1 }}</td>
                                            <td>{{ package.quantity2 }}</td>
                                            <td><a class="btn btn-success" target="_blank" href="https://wa.me/{{ site.raw_phone }}?text={{ booking_message | url_encode }}">Rezervați Acum - {{package.price}}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pricing-medical" aria-expanded="false" aria-controls="pricing-medical">
                                Medical
                            </button>
                        </h2>
                        <div id="pricing-medical" class="accordion-collapse collapse" data-bs-parent="#pricing-accordion">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Procedura</th>
                                        <th scope="col">Fă-ți o programare</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% assign medical_procedures = site.medical | sort: 'key' %}
                                    {% for procedure in medical_procedures %}
                                        <tr>
                                            <td>{{ procedure.name }}</td>
                                            <td>
                                                {% if procedure.options.size > 1 %}
                                                    <div class="dropdown">
                                                        <a class="btn btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Rezervați Acum
                                                        </a>

                                                        <ul class="dropdown-menu">
                                                            {% for option in procedure.options %}
                                                                {% capture booking_message %}Bună, sunt interesată de medical procedura "{{procedure.name}} {{option.name}} {{option.price}}"{% endcapture %}
                                                                <li><a class="btn btn-success dropdown-item" target="_blank" href="https://wa.me/{{ site.raw_phone }}?text={{ booking_message | url_encode }}">{{option.price}} - {{option.name}}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% else %}
                                                    {% assign option = procedure.options[0] %}
                                                    <a class="btn btn-success" target="_blank" href="https://wa.me/{{ site.raw_phone }}?text={{ booking_message | url_encode }}">Rezervați Acum - {{option.price}}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pricing-beauty" aria-expanded="false" aria-controls="pricing-medical">
                                Beauty
                            </button>
                        </h2>
                        <div id="pricing-beauty" class="accordion-collapse collapse" data-bs-parent="#pricing-accordion">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Procedura</th>
                                        <th scope="col">Fă-ți o programare</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% assign beauty_item = site.beauty | sort: 'key' %}
                                        {% for item in beauty_item %}
                                            {% capture booking_message %}Bună, sunt interesată de "{{ item.type }} {{item.name}} {{ package.price }}"{% endcapture %}
                                            <tr>
                                                <td>{{ item.type }} - {{ item.name }}</td>
                                                <td><a class="btn btn-success" target="_blank" href="https://wa.me/{{ site.beauty_raw_phone }}?text={{ booking_message | url_encode }}">Rezervați Acum - {{item.price}}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
