<section class="hero-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="pricing-header">
                    <h1><span>PREȚURI</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="accordion" id="pricing-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pricing-medical" aria-expanded="true" aria-controls="pricing-medical">
                                Medical
                            </button>
                        </h2>
                        <div id="pricing-medical" class="accordion-collapse collapse show" data-bs-parent="#pricing-medical">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Procedura</th>
                                        <th scope="col">Rezervația</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for procedure in site.medical %}
                                        <tr>
                                            <td>{{ procedure.name }}</td>
                                            <td>
                                                {% if procedure.options.size > 1 %}
                                                    <div class="dropdown">
                                                        <a class="btn btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Rezervați Acum
                                                        </a>

                                                        <ul class="dropdown-menu">
                                                            {% for option in procedure.options %}
                                                                {% capture booking_message %}Bună, sunt interesată de medical procedura "{{procedure.name}} {{option.name}} {{option.price}}"{% endcapture %}
                                                                <li><a class="btn btn-success dropdown-item" target="_blank" href="https://wa.me/{{ site.raw_phone }}?text={{ booking_message | url_encode }}">{{option.price}} - {{option.name}}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% else %}
                                                    {% assign option = procedure.options[0] %}
                                                    <a class="btn btn-success" target="_blank" href="https://wa.me/{{ site.raw_phone }}?text={{ booking_message | url_encode }}">Rezervați Acum - {{option.price}}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pricing-beauty" aria-expanded="false" aria-controls="collapseTwo">
                                Epilare Definitivă
                            </button>
                        </h2>
                        <div id="pricing-beauty" class="accordion-collapse collapse" data-bs-parent="#pricing-accordion">
                            <div class="accordion-body">
                                <table class="table">
                                </table>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</section>
