<section class="hero-section hero-courses section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="our-courses-header">
                    <h2><span>SERIVCII</span> NOASTRE</h2>
                    <!--p>Quisque ullamcorper ex non leo blandit porta. Duis purus sapien, blandit non sem quis,<br>
                        mollis vehicula sapien.</p-->
                </div>
            </div>
        </div>
        <div class="row">
            <!--div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="assets/img/main-page/courses-img-1.webp" alt="Gymfit" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>Kettlebells Course</h2>
                        <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta. </p>
                    </div>
                </div>
            </div-->
            <!--div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="assets/img/main-page/courses-img-2.webp" alt="Gymfit" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>WEIGHTLIFTING</h2>
                        <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta. </p>
                    </div>
                </div>
            </div-->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="/assets/img/main-page/fintenss.svg" alt="FITNESS" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>Fitness</h2>
                        <p>Rămâi în formă, rămâi sănătos.<br>Antrenamente private sau 2 la 1.<br>La noi sau oriunde, prin video!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="/assets/img/main-page/nutrition.svg" alt="Nutriție" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>Nutriție</h2>
                        <p>Cântărire Metabolică si Plan Alimentar</p>
                        <p>Baza sănătății tale — controlează nutriția și restul devine mai ușor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="/assets/img/main-page/massage.svg" alt="Masaj" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>Masaj</h2>
                        <p>Relaxare / Terapeutic / Unde Sonice / Deep Sleep / Facial / Anti Inflamator / Anticelulitic / Drenare Limfatică</p>
                        <p>Un cadou pentru corpul tău. Scapă de stres. Relaxează-te.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="/assets/img/main-page/ems-body.svg" alt="EMS XBody" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>EMS XBody</h2>
                        <p>Stimulare Electro Musculară</p>
                        <p>Obține maximum de eficiență în recuperare sau tonifiere musculară cu ajutorul tehnologiei moderne de electro-stimulare.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="/assets/img/main-page/tape-therapy.svg" alt="EMS XBody" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>Benzi kinesiologice</h2>
                        <p>Recuperare post-traumatică inteligentă.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="/assets/img/main-page/active-kineto-and-recovery.svg" alt="EMS XBody" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>Kinetoterapie Activă + Recuperare</h2>
                        <p>Stimulare Electro Musculară</p>
                        <p>Redă libertatea de mișcare.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="/assets/img/main-page/child-care.svg" alt="EMS XBody" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>Gimnastică posturare copii</h2>
                        <p>Sănătatea trebuie păstrată de mic!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="our-courses-box">
                    <div class="course-img"> <img src="/assets/img/main-page/other-therapy.svg" alt="Other" class="img-fluid">
                    </div>
                    <div class="course-content">
                        <h2>Other</h2>
                        <p>Electroterapie / Ultrasunete / Laser / Acupunctură Electrică / Fizioterapie / Shockwave Therapy / Detensionare Cervical / Ameliorare Dureri Lombare</p>
                        <p>Suntem specializați în diverse forme de terapie. Fiecare pacient este diferit; fiecare primește un tratament personalizat.</p>
                    </div>
        </div>
    </div>
</section>