<section class="hero-trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="trainer-header">
                    <h1>OUR <span>TRAINERS</span></h1>
                    <p>Quisque ullamcorper ex non leo blandit porta. Duis purus sapien, blandit non sem quis,<br>
                        mollis vehicula sapien.</p>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="owl-carousel owl-theme ss_carousel" id="slider1">
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-1.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>RUTH EDWARDS</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>RUTH EDWARDS</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-2.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>BRUCE BAILEY</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>BRUCE BAILEY</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-3.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>RUTH EDWARDS</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>RUTH EDWARDS</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-1.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>RUTH EDWARDS</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>RUTH EDWARDS</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-2.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>BRUCE BAILEY</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>BRUCE BAILEY</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-3.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>RUTH EDWARDS</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>RUTH EDWARDS</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-1.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>RUTH EDWARDS</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>RUTH EDWARDS</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-2.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>BRUCE BAILEY</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>BRUCE BAILEY</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="trainer-box">
                            <div class="trainer-img"> <img src="assets/img/main-page/trainer-img-3.webp" alt="Gymfit"
                                                           class="img-fluid">
                                <div class="trainer-box-content">
                                    <h2>RUTH EDWARDS</h2>
                                    <h5>CARDIO EXPERT</h5>
                                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                                        nibh.</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trainers-tag-name">
                                <h2>RUTH EDWARDS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>