<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<!-- loader start -->
<div class="page_loader">
    <img src="/assets/img/main-page/loader.svg" alt="img">
</div>
<!-- loader end -->
<!-- header -->
{% include header.html %}
<!-- end header -->
{% if page.title == 'Contact Us' %}
    {% include contact-us.html %}
{% else if page.title == 'Services' %}
    {% include services.html %}
    <h1>Page Not Found</h1>
{% endif

<!-- start footer section -->
{% include footer.html %}
<!-- start footer section -->

<!-- jQuery -->
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.smartmenus.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>

</html>